<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>
                    <th:block th:text="#{admin.layout.footer.made-by-name('Fernando Alvarez')}">By Fernando Alvarez</th:block>
                    &copy;
                    <a href="https://github.com/FernandoAlvarez28/gift-list" target="_blank">
                        GitHub <i class="fa-solid fa-xs fa-arrow-up-right-from-square"></i>
                    </a>
                    2024
                </span>
            </div>
        </div>
    </footer>
</th:block>
