<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/resources/admin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/resources/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/resources/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <script th:src="@{/resources/admin/js/sb-admin-2.min.js}"></script>

    <!--/* https://clipboardjs.com */-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"
            integrity="sha512-7O5pXpc0oCRrxk8RUfDYFgn0nO1t+jLuIOQdOMRp4APB7uZ4vSjspzp5y6YDtDs4VzUSTbWzBFZ/LKJhnyFOKw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
          new ClipboardJS('.copy')
        });
    </script>
</th:block>
