<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="${defaultAdminUri}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fa-solid fa-gift"></i>
            </div>
            <div class="sidebar-brand-text" th:text="#{admin.layout.title}">My Gift Lists</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item" th:classappend="${currentUri.contains('/admin/my-gift-lists') ? 'active' : ''}">
            <a class="nav-link" th:href="${defaultAdminUri}">
                <i class="fas fa-fw fa-list"></i>
                <span th:text="#{admin.layout.side-bar.gift-lists}">Lists</span></a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
</th:block>
