<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!--/* Sidebar Toggle (Topbar) */-->
        <form class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
        </form>

        <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>

            <!--/* Nav Item - User Information */-->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                          th:text="${#authentication.principal.name}">
                        John Doe
                    </span>

                    <div class="img-profile rounded-circle">
                        <i class="fa-solid fa-lg fa-user"></i>
                    </div>
                </a>

                <!--/* Dropdown - User Information */-->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">

                    <!--/* TODO edit profile link
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                     */-->

                    <!--/* TODO settings link (e.g.: change language)
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    */-->

                    <div class="dropdown-divider"></div>
                    <form th:action="@{/admin/logout}" method="POST">
                        <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            <th:block th:text="#{admin.layout.top-bar.logout}">
                                Logout
                            </th:block>
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</th:block>
