<!DOCTYPE html>
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layout/guests/main.html}">

    <th:block layout:fragment="content">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <th:block th:each="gift : ${gifts}">
                <div class="col mb-5" th:id="|gift-${gift.giftId}|"
                     th:with="chosenByGuest = ${chosenGiftsIds.contains(gift.giftId)}">
                    <div class="card h-100">
                        <th:block th:if="${gift.chosenByAGuest}">
                            <div class="badge text-white position-absolute"
                                 style="top: 0.5rem; right: 0.5rem"
                                 th:classappend="${chosenByGuest} ? 'bg-success' : 'bg-dark'"
                                 th:text="${chosenByGuest} ? #{guests.gift.chosen.by-you} : #{guests.gift.chosen.by-other}">
                                Already chosen by someone
                            </div>
                        </th:block>


                        <!--/* TODO image */-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>

                        <!--/* Details */-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder" th:text="${gift.name}">Gift name</h5>
                                <!--/*
                                TODO price range?
                                $40.00 - $80.00
                                */-->
                            </div>
                        </div>

                        <!--/* Actions */-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form th:action="@{/guests/{guestAccessCode}/gifts/{giftId}/choice (guestAccessCode = ${#authentication.principal.accessCode}, giftId = ${gift.giftId})}"
                                      method="post">
                                    <button class="btn mt-auto"
                                            type="submit"
                                            th:classappend="${gift.chosenByAGuest} ? (${chosenByGuest} ? 'btn-outline-danger' : 'btn-outline-dark') : 'btn-outline-success'"
                                            th:text="${chosenByGuest} ? #{guests.gift.action.choose.undo} : #{guests.gift.action.choose}">
                                        Choose
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>

</th:block>
