<!DOCTYPE html>
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layout/admin/main.html}">

    <th:block layout:fragment="content">
        <div class="col-xl-9 col-lg-12 mb-4 mx-auto">
            <h1 class="h3 mb-2 text-gray-800">
                <th:block th:text="${giftList.name}">Gift List name</th:block>

                <th:block th:if="${giftList.active}">
                    <i class="fa-solid fa-xs fa-circle-check" th:title="#{admin.gift-lists.detail.active.true}"></i>
                </th:block>
                <th:block th:unless="${giftList.active}">
                    <i class="fa-solid fa-xs fa-circle-xmark" th:title="#{admin.gift-lists.detail.active.false}"></i>
                </th:block>
            </h1>

            <div class="row">
                <div class="col-xl-9 col-lg-12 mb-4 mx-auto">
                    <div class="card shadow">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary" th:text="#{admin.gift-lists.detail.gifts}">
                                Gifts
                            </h6>

                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="giftsActionsDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="giftsActionsDropdownMenuLink">
                                    <div class="dropdown-header" th:text="#{admin.gift-lists.detail.gifts.action}">
                                        Actions
                                    </div>
                                    <a class="dropdown-item"
                                       data-toggle="modal"
                                       data-target="#addGiftModal"
                                       th:text="#{admin.gift-lists.detail.gifts.action.add}">
                                        Add gift
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <th:block th:if="${#lists.isEmpty(gifts)}">
                                <th:block th:insert="~{layout/admin/empty-space :: empty-space(
                                        emptySpaceTitle = #{admin.gift-lists.detail.gifts.empty-space.title},
                                        emptySpaceDescription = #{admin.gift-lists.detail.gifts.empty-space.description},
                                        emptySpaceActionText = #{admin.gift-lists.detail.gifts.empty-space.action-text},
                                        emptySpaceActionModalId = 'addGiftModal'
                                )}"/>
                            </th:block>

                            <th:block th:unless="${#lists.isEmpty(gifts)}">
                                <div class="row">
                                    <th:block th:each="gift : ${gifts}">
                                        <div class="col-xl-4 col-lg-6 col-md-12 my-2" th:id="|gift-${gift.giftId}|">
                                            <div class="card shadow">
                                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h6 class="m-0 font-weight-bold" th:classappend="${gift.chosenByAGuest} ? 'text-success' : ''">
                                                        <th:block th:text="${gift.name}">
                                                            Gift name
                                                        </th:block>
                                                        <th:block th:if="${gift.chosenByAGuest}">
                                                            <i class="fa-solid fa-xs fa-circle-check"
                                                               th:title="#{admin.gift-lists.detail.gifts.chosen}">
                                                            </i>
                                                        </th:block>
                                                    </h6>

                                                    <div class="dropdown no-arrow">
                                                        <a class="dropdown-toggle" href="#" role="button"
                                                           id="giftActionsDropdownMenuLink"
                                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                             aria-labelledby="giftActionsDropdownMenuLink">
                                                            <div class="dropdown-header"
                                                                 th:text="#{admin.gift-lists.detail.gifts.action}">
                                                                Actions
                                                            </div>

                                                            <a class="dropdown-item"
                                                               data-toggle="modal"
                                                               data-target="#editGiftModal"
                                                               th:attr="data-target-content-uri=@{/admin/my-gift-lists/{giftListId}/gifts/{giftId}/edit/fragment (giftListId = ${giftList.giftListId}, giftId = ${gift.giftId})}"
                                                               th:text="#{admin.gift-lists.detail.gifts.action.edit}">
                                                                Edit
                                                            </a>

                                                            <a class="dropdown-item"
                                                               data-toggle="modal"
                                                               data-target="#deleteGiftModal"
                                                               th:attr="data-target-content-uri=@{/admin/my-gift-lists/{giftListId}/gifts/{giftId}/delete/fragment (giftListId = ${giftList.giftListId}, giftId = ${gift.giftId})}"
                                                               th:text="#{admin.gift-lists.detail.gifts.action.delete}">
                                                                Delete
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body">
                                                    <div class="d-block" th:if="${gift.description != null}">
                                                        <span class="font-weight-bold"
                                                              th:text="|#{admin.gift-lists.detail.gifts.description}:|">
                                                            Description:
                                                        </span>
                                                        <span th:text="${gift.description}">
                                                            Description
                                                        </span>
                                                    </div>

                                                    <div class="d-block" th:if="${gift.requirement != null}">
                                                        <span class="font-weight-bold"
                                                              th:text="|#{admin.gift-lists.detail.gifts.requirement}:|">
                                                            Requirement:
                                                        </span>
                                                        <span th:text="${gift.requirement}">
                                                            Requirement
                                                        </span>
                                                    </div>

                                                    <th:block th:if="${gift.description == null && gift.requirement == null}"
                                                              th:insert="~{layout/admin/empty-space :: empty-space(
                                                        emptySpaceTitle = #{admin.gift-lists.detail.gifts.empty-details},
                                                        emptySpaceMargin = ''
                                                    )}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-12 mb-4 mx-auto">
                    <div class="card shadow">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary" th:text="#{admin.gift-lists.detail.guests}">
                                Guests
                            </h6>

                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="guestsActionsDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="guestsActionsDropdownMenuLink">
                                    <div class="dropdown-header" th:text="#{admin.gift-lists.detail.guests.action}">
                                        Actions
                                    </div>
                                    <a class="dropdown-item"
                                       data-toggle="modal"
                                       data-target="#addGuestModal"
                                       th:text="#{admin.gift-lists.detail.guests.action.add}">
                                        Add guest
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <th:block th:if="${#lists.isEmpty(guests)}">
                                <th:block th:insert="~{layout/admin/empty-space :: empty-space(
                                        emptySpaceTitle = #{admin.gift-lists.detail.guests.empty-space.title},
                                        emptySpaceDescription = #{admin.gift-lists.detail.guests.empty-space.description},
                                        emptySpaceActionText = #{admin.gift-lists.detail.guests.empty-space.action-text},
                                        emptySpaceActionModalId = 'addGuestModal'
                                )}"/>
                            </th:block>

                            <th:block th:unless="${#lists.isEmpty(guests)}">
                                <div class="row">
                                    <th:block th:each="guest, iter : ${guests}">
                                        <div class="col-md-12 my-2" th:id="|guest-${guest.guestId}|">
                                            <div class="card shadow">
                                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h6 class="m-0 font-weight-bold" th:text="${guest.name}">
                                                        Guest name
                                                    </h6>

                                                    <div class="dropdown no-arrow">
                                                        <a class="dropdown-toggle" href="#" role="button"
                                                           id="guestActionsDropdownMenuLink"
                                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                             aria-labelledby="guestActionsDropdownMenuLink">
                                                            <div class="dropdown-header"
                                                                 th:text="#{admin.gift-lists.detail.guests.action}">
                                                                Actions
                                                            </div>

                                                            <a class="dropdown-item"
                                                               data-toggle="modal"
                                                               data-target="#editGuestModal"
                                                               th:attr="data-target-content-uri=@{/admin/my-gift-lists/{giftListId}/guests/{guestId}/edit/fragment (giftListId = ${giftList.giftListId}, guestId = ${guest.guestId})}"
                                                               th:text="#{admin.gift-lists.detail.guests.action.edit}">
                                                                Edit
                                                            </a>

                                                            <a class="dropdown-item"
                                                               data-toggle="modal"
                                                               data-target="#deleteGuestModal"
                                                               th:attr="data-target-content-uri=@{/admin/my-gift-lists/{giftListId}/guests/{guestId}/delete/fragment (giftListId = ${giftList.giftListId}, guestId = ${guest.guestId})}"
                                                               th:text="#{admin.gift-lists.detail.guests.action.delete}">
                                                                Delete
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body">
                                                    <div class="d-block mb-2">
                                                        <th:block th:with="url = ${@GuestAccessCodeUrlUtil.get(guest)},
                                                                           id = |guest${iter.index}-url|">
                                                            <input type="hidden" th:id="${id}" th:value="${url}">

                                                            <div class="copy"
                                                                 th:attr="data-clipboard-target='#' + ${id}">
                                                                <span
                                                                    th:text="#{admin.gift-lists.detail.guests.access-code-link.action.copy(${guest.censoredAccessCode()})}">
                                                                    Access link:
                                                                </span>

                                                                <i class="fa-solid fa-copy"></i>
                                                            </div>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </th:block>

    <th:block layout:fragment="modals">
        <div class="modal fade"
             id="addGiftModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="addGiftModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form th:action="@{/admin/my-gift-lists/{giftListId}/add-gift (giftListId = ${giftList.giftListId})}"
                          method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="#{admin.gift-lists.detail.gifts.modal.add}">Add gift</h5>

                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p th:text="#{admin.gift-lists.detail.gifts.modal.add.description}">Description</p>

                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-control-user"
                                       name="name"
                                       th:placeholder="#{admin.gift-lists.detail.gifts.modal.add.input.name}"
                                       max="255"
                                       required>
                            </div>

                            <div class="form-group">
                                <textarea type="text"
                                          class="form-control form-control-user"
                                          name="description"
                                          th:placeholder="#{admin.gift-lists.detail.gifts.modal.add.input.description}"
                                          max="500"></textarea>
                            </div>

                            <div class="form-group">
                                <textarea type="text"
                                          class="form-control form-control-user"
                                          name="requirement"
                                          th:placeholder="#{admin.gift-lists.detail.gifts.modal.add.input.requirement}"
                                          max="500"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                    th:text="#{admin.gift-lists.detail.gifts.modal.add.action.cancel}">
                                Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-primary btn-user"
                                    th:text="#{admin.gift-lists.detail.gifts.modal.add.action.submit}">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade"
             id="addGuestModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="addGuestModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form th:action="@{/admin/my-gift-lists/{giftListId}/add-guest (giftListId = ${giftList.giftListId})}"
                          method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="#{admin.gift-lists.detail.guests.modal.add}">Add guest</h5>

                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p th:text="#{admin.gift-lists.detail.guests.modal.add.description}">Description</p>

                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-control-user"
                                       name="name"
                                       th:placeholder="#{admin.gift-lists.detail.guests.modal.add.input.name}"
                                       max="255"
                                       required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                    th:text="#{admin.gift-lists.detail.guests.modal.add.action.cancel}">
                                Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-primary btn-user"
                                    th:text="#{admin.gift-lists.detail.guests.modal.add.action.submit}">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade"
             id="editGiftModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="editGiftModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="py-5">
                        <th:block th:insert="~{layout/admin/empty-space :: empty-space(
                            emptySpaceTitle = #{loading}
                        )}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade"
             id="deleteGiftModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteGiftModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="py-5">
                        <th:block th:insert="~{layout/admin/empty-space :: empty-space(
                            emptySpaceTitle = #{loading}
                        )}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade"
             id="editGuestModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="editGuestModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="py-5">
                        <th:block th:insert="~{layout/admin/empty-space :: empty-space(
                            emptySpaceTitle = #{loading}
                        )}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade"
             id="deleteGuestModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteGuestModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="py-5">
                        <th:block th:insert="~{layout/admin/empty-space :: empty-space(
                            emptySpaceTitle = #{loading}
                        )}"/>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
