<!DOCTYPE html>
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layout/admin/main.html}">

    <th:block layout:fragment="content">
        <div class="col-xl-9 col-lg-12 mb-4 mx-auto">
            <h1 class="h3 mb-4 text-gray-800" th:text="#{admin.gift-lists.new.title}">New list</h1>

            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 th:text="#{admin.gift-lists.new.subtitle}">
                        Basic information
                    </h6>
                </div>

                <div class="card-body">
                    <form th:action="${newGiftListPostUri}" method="post" class="user">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control form-control-user"
                                   name="name"
                                   th:placeholder="#{admin.gift-lists.new.input.name}"
                                   max="255"
                                   required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-user btn-block"
                                th:text="#{admin.gift-lists.new.submit}">
                            Create
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
